<div class="row" data-bs-toggle="modal" data-bs-target="#exampleModal">
    <div class="col-md-4">
        <div class="card">
            <div class="img1"><img src="https://upload.wikimedia.org/wikipedia/commons/5/53/La_Bocana_Port.jpg" alt="" srcset="">
            </div>
            <div class="img2"><img src="https://i.pinimg.com/originals/fb/cf/8f/fbcf8fe6d3209d46b6ac40de152404a8.jpg" alt="" srcset="">
            </div>
            <div class="main-text">
                <h2>Person One</h2>
                <p>Precio: xxxxx</p>
                <p>Distancia: xxxxxx</p>
                <div>
                    <p>Calificacion</p>
                    <span class="start"></span>
                    <span class="start"></span>
                    <span class="start"></span>
                    <span class="start"></span>
                    <span class="start"></span>
                </div>
            </div>

        </div>
    </div>
</div>